.card {
    box-shadow: 0 0 5px #2226;
    border-radius: 20px;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    position: relative;
    gap: 1em;
    justify-items: center;
    align-items: flex-start;
    height: 100%;
    text-align: center;
    overflow-y:scroll;
    max-height:400px;
    background-color: #e7cebb;
}
.card__heart {
    position: absolute;
    top: .5em;
    right: 1em;
    color: crimson;
}
.card>.btn {
    width: max-content;
}
